<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.gmall.mapper.PmsProductSaleAttrMapper">

    <select id="selectspuSaleAttrListCheckBySku" resultMap="spuSaleAttrListCheckBySkuMap">
        SELECT
            psa.id as sid, psav.id as vid ,psa.* ,psav.*,if(ssav.id,1,0) as isChecked
        FROM
            pms_product_sale_attr psa
            INNER JOIN pms_product_sale_attr_value psav ON psa.sale_attr_id = psav.sale_attr_id
            AND psa.product_id = psav.product_id
            LEFT JOIN pms_sku_sale_attr_value ssav ON psav.id=ssav.sale_attr_value_id and ssav.sku_id=#{skuId}
        WHERE
            psa.product_id = #{productId}
    </select>

    <resultMap id="spuSaleAttrListCheckBySkuMap" type="pmsProductSaleAttr" autoMapping="true">
        <id property="id" column="sid"></id>
        <collection property="spuSaleAttrValueList" ofType="PmsProductSaleAttrValue" autoMapping="true">
            <id property="id" column="vid"></id>
        </collection>
    </resultMap>

</mapper>
